/* JavaFX CSS */

Button {
	-fx-graphic-text-gap: 10;
	-fx-padding: 10 15 10 15;
	-fx-background-color: #AAAAAA;
	-fx-focus-traversable: false;
	-fx-font-family: "Verdana";
	-fx-font-size: 14;
}

Button.mainmenu {
	-fx-padding: 15 20 15 20;
}

Button:hover {
	/*-fx-background-color: #029ddf;*/
	-fx-cursor: "hand";
}

Button:disabled {
	/*-fx-background-color: #029ddf;*/
	-fx-cursor: "arrow";
}

/*Button.exit:hover {*/
/*	-fx-background-color: #be0000;*/
/*}*/

AnchorPane {
	-fx-background-color: #333333;
}

StackPane {
	-fx-background-color: #fff;
}

StackPane.viewer {
	-fx-background-color: #aaaaaa;
}

/*BorderPane {*/
/*	-fx-background-color: black;*/
/*}*/

BorderPane.menu {
	-fx-background-color: #ccc;
}

ScrollPane {
	-fx-background-color: black;
	-fx-block-increment: 1000;
	/*-fx-min-width: 500;*/
}

.scroll-pane .scroll-bar:vertical {
	-fx-unit-increment: 10 ;
	-fx-block-increment: 50 ;
}

VBox {
	-fx-background-color: black;
	-fx-spacing: 10;
	-fx-padding: 10 10 10 10;
	-fx-alignment: TOP_CENTER;
}

HBox {
	/*-fx-background-color: black;*/
	-fx-spacing: 10;
}

Label {
	-fx-font-family: "Verdana";
	/*-fx-background-color: black;*/
	-fx-text-fill: #888;
	-fx-font-size: 14;
}

Label.version {
	-fx-padding: 0 10 10 0;
}

Label.status {
	-fx-padding: 10 10 10 10;
}

Label.large {
	-fx-font-size: 20;
}

ImageView.logo {
	-fx-padding: 50 50 50 50;
}

TextField {
	-fx-font-family: "Verdana";
	-fx-font-size: 14;
	-fx-background-color: #eee;
	-fx-padding: 10 10 10 10;
	-fx-border-color: gray;
}

Line {
	-fx-stroke-width: 1;
	-fx-stroke: yellow;
	-fx-stroke-line-cap: ROUND;
}

.selected {
	-fx-background-color: #66aaff;
}

.active {
	-fx-background-color: #000088;
}

.unselected {
	-fx-background-color: #aaaaaa;
}

.olive {
	-fx-background-color: olive;
}

.cyan {
	-fx-background-color: cyan;
}

.orange {
	-fx-background-color: orange;
}

.white {
	-fx-background-color: white;
	/*-fx-text-fill: black;*/
}

.black {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.nopadding {
	-fx-padding: 0;
}

.darkgray {
	-fx-background-color: #5e5e5e;
}

.black-text {
	-fx-text-fill: black;
}

.pointer {
	-fx-cursor: hand;
}

.whiteborder {
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-border-color: white;
}

.reorderborder {
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-border-color: yellow;
}

.lightred {
	-fx-background-color: #FFAAAA;
}

.darkred {
	-fx-background-color: #880000;
}

.lightgreen {
	-fx-background-color: #AAFFAA;
}

.darkgreen {
	-fx-background-color: #008800;
}

.lightblue {
	-fx-background-color: #AAAAFF;
}

.darkblue {
	-fx-background-color: #000088;
}

.opaque {
	-fx-opacity: 1.0;
}

.transparant {
	-fx-opacity: 0.5;
}

.padding {
	-fx-padding: 10 10 10 10;
}

.bgwhite {
	-fx-background-color: white;
}